* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Couleur initiale */
    color: #000000; /* Couleur de texte initiale blanche pour contraster avec le fond noir ultérieur */
    transition: background-color 0.5s, color 0.5s; /* Transition pour le fond et la couleur du texte */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    text-align: center;
}

.warning-title {
    color: #fff; /* Initialement blanc, sera changé en rouge */
    margin-bottom: 20px;
    font-size: 24px;
    transition: color 0.5s; /* Transition pour la couleur du titre */
}

button {
    background-color: #4CAF50;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

p, h2 {
    margin-top: 20px;
    padding: 10px;
    background-color: #444; /* Fond légèrement plus clair pour les blocs d'information */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    color: #fff; /* Assurez-vous que le texte reste blanc pour la lisibilité */
}
